@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  ul,
  ol {
    list-style: revert-layer;
    list-style-position: inside;
  }

  pre {
    background-color: rgb(39 39 41);
    font-size: 14px;
    border-radius: 0;
    overflow-x: auto;
    display: block;
    padding: 20px;
    line-height: 28px;
    word-break: break-word;
  }

  blockquote {
    position: relative;
    margin: 16px 0;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    padding: 5px 8px 5px 30px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 30px;
    background: none repeat scroll 0 0 rgb(39 39 41);
    color: inherit;
    border: none;
    border-left: 10px solid #d6dbdf;
  }

  li::marker {
    color: rgb(34 197 94);
  }

  strong {
    color: rgb(34 197 94);
  }

  a {
    color: rgb(34 197 94);
    text-decoration-line: underline;
    text-decoration-color: inherit;
  }
}
